<%- include("../partials/admin-navbar") %> 

<!-- home page  -->
<div class="container ">
  <h2 class="page-title">Pages</h2>
  <a href="/admin/pages/add-pages" class="btn btn-primary">Add A New Page</a>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

  </thead>
  <tbody id="title-table">

    <% page.forEach(pg =>{%>
      <tr id="id=<%= pg._id %>" class="<%= pg.slug %>" >
        <th class="text-capitalize"><%= pg.title %> </th> 
        <th> <a href="/admin/pages/edit-pages/<%= pg._id %>">Edit</a></th>
        <% if(pg.title === 'home') {%> 
          <th></th>
        <% } else { %> 
          <th > <a class="delete__pages" href="/admin/pages/delete-pages/<%= pg._id %>">Delete</a></th>
        <% } %>  
      </tr>
    <%}) %> 
  </tbody>
</table>  

</div>



<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>


<script>
  $("tbody").sortable({
    items : "tr:not('.home')",
    placeholder : "ui-state-hightlight",
    update : function(){
      let ids = $("tbody").sortable( "serialize", { key: "ids" } ) ;
      let url = "/admin/pages/reorder-pages"
      $.post(url, ids)
    }
  })
</script>

<%- include("../partials/footer") %> 
